# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
1. popular languages for ds
2. popular tools for ds
3. common libraries of DS

Some of the popular languages that Data Scientists use are:
1. R
2. python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. TensorFlow
3. Pandas

| Data science tools |
|--------------------|
|apache hadoop|
|Apache Spark|
|BigML|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author 
vishwajeet kukkala